!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= data.page.title
    = stylesheet_link_tag "site.css"
    = javascript_include_tag "site.js"
  %body
    #heading
      %h1 Craig and Mark invite you to
    #rest
      #sidebar
        %ul
          %li
            %a Invitation
          %li
            %a Getting there
          %li
            %a Getting around
          %li
            %a Where to stay
          %li
            %a Gift register
          %li
            %a Things to see and do
      #content
        = yield