- content_for :title do
  Getting to the island

= image_tag 'waiheke_ferry.jpg', class: 'right'
:markdown
  Waiheke is a short 40 minute ferry ride from the heart of Auckland City. Alternatively, you can catch it from Devonport on the North Shore. The timetable is available [here](http://www.fullers.co.nz/tickets-fares/timetables/waiheke-island.php). **PLEASE NOTE: A discount is available if you present your wedding invitation when buying your ticket.**

  If you catch the 12:00 pm or 1:00 pm ferry on the wedding day you'll have plenty of time to get to your accommodation and get ready for the wedding before being picked up by the shuttle.

  There is also a car ferry to Waiheke from Half Moon Bay, you can find out more information [here](http://www.sealink.co.nz/timetables-and-fares/timetables.html).

= image_tag 'airnz_plane.jpg', class: 'right'
:markdown
  For those flying in for the wedding and wanting to travel directly from the airport to Waiheke, you'll want to make your way to the downtown ferry terminal at the bottom of Queen Street. It is approximately 45 minutes by car from the airport to the ferry terminal. Options for transport include [taxi, shuttle](http://www.aucklandairport.co.nz/ToAndFromTheAirport/PublicTransport/TaxisAndShuttles.aspx), or the [Airport Express Bus](http://www.maxx.co.nz/info/how-to-travel/take-the-bus/airport-services.aspx#airbus-express) which terminates at the ferry terminal. You'll want to make sure you are arriving in Auckland before 11:30 am on the day of the wedding to give yourself plenty of time to catch the 1:00 pm ferry.
