- content_for :title do
  Gift register

:markdown
  We appreciate you all have incurred expense in travel and accommodation to join us on our special day and your presence is far more valuable than any present you could give us so we ask for no gifts. (**We mean it!**)
