- content_for :title do
  Welcome

%p We're very excited to be getting married on Friday the 6th of Feburary 2015. We're heading to Waiheke Island for the occasion and we hope you can join us.
%p We'd love for you to make a weekend of it with us. As it is a public holiday the last ferry returns to Auckland at 11:15 pm and as the wedding doesn't conclude until 1:00 am you will need to stay on the island. The day after the ceremony we'll be hosting a BBQ lunch at the bridal party house from 1:00 pm.
%p As its over a long weekend and Waiheke Island is a popular destination we would suggest you get onto booking your travel and accommodation. You will find some helpful information on the different pages of our website.
%p If you have anything you'd like to talk to us about please give either of us a call.
%p Craig and Mark
#forms
  = render 'rsvps/form'
  = render 'request_for_transports/form'