- @title = "Mark and Craig's Wedding"

%p our wedding at Mudbrick Vineyard Waiheke Island.
%p Friday February the 6th 2015
%p Followed by a BBQ lunch on Saturday the 6th from 1pm.
%p Please come and enjoy the weekend with us and celebrate this sepcial occasion.
%p RSVP to come.
%p Transport organisation to come.
    