- content_for :title do
  Things to see and do

%h1 Things to see and do
:markdown
  Artists and free-spirits mingle with the rich and famous on this blissful island, a haven of beautiful beaches, gastronomical treasures and small wineries. Browse the dozens of art galleries and craft stores of the Waiheke Arts Trail between dips in the emerald waters. Soar above the landscape on a chartered scenic flight, then refuel your engine with a casual beachfront café meal or an upscale, multi-course affair. Waiheke boasts several boutique vineyards, perfect for sipping, sampling and savoring New Zealand’s fine wines.

  Walking and Biking as well as enjoying the beaches are popular things to do. I would highly recommend a trip to [Stony Batter](http://www.doc.govt.nz/conservation/historic/by-region/auckland/hauraki-gulf-islands/stony-batter-historic-reserve-waiheke-island/). The remains of a WWII 9.2 inch Counter Bombardment Heavy Coast Defence Battery./
  
  You also might want to visit [Connells Bay Sculpture Park](http://www.connellsbay.co.nz/sculpture_park_overview.html).

  For further suggestions please check out the [Waiheke Auckland](http://waiheke.aucklandnz.com/) website. Particularly their [activities](http://waiheke.aucklandnz.com/things-to-do/activities.html) and [sightseeing](http://waiheke.aucklandnz.com/things-to-do/sightseeing.html) pages. Also, check out the [Waiheke Island Trip Advisor](http://www.tripadvisor.com/Tourism-g285729-Waiheke_Island_North_Island-Vacations.html) page.