- content_for :title do
  Wedding Events

= image_tag 'mudbrick_building.jpg', class: 'right'
%p We're getting married at 5:00 pm on Friday the 6th of February 2015 at Mudbrick Vineyard, Church Bay Road, Oneroa, Waiheke Island.

%p
  We will be organising a shuttle from your accommodation at Onetangi, Palm Beach, or Oneroa both to and from the venue, delivering you there at 5:00 pm. Please fill in the form on the
  = link_to 'welcome page', root_path(anchor: 'transport_form')
  once you know where you're staying so that we can arrange this for you.

= image_tag 'mudbrick_reception.jpg', class: 'right'
%p The ceremony will be followed by the reception held in the vineyard's restaurant commencing at 5:45 pm. Beginning with canapés and drinks, followed by dinner and a live band. Come prepared to have a great time!

%p The evening will conclude at 1:00 am, and a shuttle will return you to your accommodation.

%p The following day a BBQ will be held for all guests at 11 Pah Road, Onetangi, beginning at 1:00 pm.
