#wrapper {
  background-image: url(background.png);
  background-repeat: repeat;
  width: 1000px;
}

#sidebar {
  float: left;
  width: 250px;

  a {
    color: #372f2b;
  }
  a:hover {
    color: lighten(#372f2b, 10%);
  }
}

#content {
  float: right;
  width: 750px;
}