@import url(http://fonts.googleapis.com/css?family=Flamenco|Voces|Duru+Sans);

img {
  padding: rem-calc(16);
}

p {
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  color: #64554E;
  font-family: 'Duru Sans', sans-serif;
  text-align: center;
}

body {
  background: image-url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
  @include grid-row();
  background-color: rgba(196, 196, 196, 0.7);
  margin-top: rem-calc(64);
  margin-bottom: rem-calc(64);
  padding-bottom: rem-calc(16);
}

#heading {
  @include grid-row();
  padding-top: rem-calc(32);
  padding-bottom: rem-calc(32);
  h1 {
    font-size: rem-calc(80);
    font-family: 'Flamenco', cursive;
    color: #222222;
  }
  h2 {
    font-size: rem-calc(32);
    font-family: 'Voces', cursive;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#sidebar {
}

#rest {
  @include grid-row();
  #sidebar {
    @media #{$small-only} {
      @include grid-column(6);
    }
    @media #{$medium-up} {
      @include grid-column(3);
    }
    ul {
      @include side-nav(
        $link-color: #372f2b,
        $link-color-hover: lighten(#372f2b, 10%),
        $font-size: rem-calc(16)
      );
    }
    margin-top: rem-calc(64);
    a {
      text-align: center;
    }
    li {
      border-top-width: 1px;
      border-top-style: solid;
      padding: rem-calc(8 0);
    }
    li:first-of-type {
      border-top-style: none;
    }
  }
  #content {
    @media #{$small-only} {
      @include grid-column(6);
    }
    @media #{$medium-up} {
      @include grid-column(9);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: rem-calc(24);
  }
}