#wrapper {
  @include grid-row();
  background-color:rgba(196,196,196,0.7);
}

#heading {
  @include grid-row();
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

#rest {
  @include grid-row();
  #sidebar {
    @media #{$small-only} {
      @include grid-column(6);
    }
    @media #{$medium-up} {
      @include grid-column(2);
    }
    ul {
      @include side-nav();
    }
  }
  #content {
    @media #{$small-only} {
      @include grid-column(6);
    }
    @media #{$medium-up} {
      @include grid-column(10);
    }
  }
}

body {
  background: url(/assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}