@import url(http://fonts.googleapis.com/css?family=Flamenco);
@import url(http://fonts.googleapis.com/css?family=Iceland);

#wrapper {
  @include grid-row();
  background-color: rgba(196, 196, 196, 0.7);
  margin-top: rem-calc(64);
  margin-bottom: rem-calc(64);
  padding-bottom: rem-calc(16);
}

#heading {
  @include grid-row();
  text-align: center;
  h1 {
    font-size: rem-calc(80);
    font-family: 'Flamenco', cursive;
  }
  h2 {
    font-family: 'Iceland', cursive;
    font-size: rem-calc(40);
  }
}

#rest {
  @include grid-row();
  #sidebar {
    @media #{$small-only} {
      @include grid-column(6);
    }
    @media #{$medium-up} {
      @include grid-column(2);
    }
    ul {
      @include side-nav();
    }
  }
  #content {
    @media #{$small-only} {
      @include grid-column(6);
    }
    @media #{$medium-up} {
      @include grid-column(10);
    }
  }
}

body {
  background: image-url('background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}